<footer>
    <nav class="navbar container">
        <a href="" class="logo">Footer</a>
        <div class="menu">
            <ul class="list">
                <li><a href="/">Home</a></li>
                <li><a href="/users/about/<%=u.id%>">About</a></li>
            </ul>
        </div>

    </nav>
    <p class="copyright">Company Name © 2018</p>
    <!-- <p>
        footer area
    </p>
    <a href="/users/about/"> About </a>
    <a href="/"> Home </a> -->
</footer>