<header>

<nav class="navbar container">
    <a href="/" class="logo">Home</a>
    <!-- <img src="../assests/images/atom-ga4ffa4ff3_1920.png" alt="lgo" class="logo"> -->
    <input type="checkbox" id="toggler">
    <label for="toggler"><i class="fa fa-bars" style="font-size:24px; color: azure;"></i></label>
    <div class="menu">
        <ul class="list">
            <%if(locals.user!=undefined){%>
                <li><a href="/users/about/<%=locals.user._id%>">About</a></li>
            <%}%>
           
            <% if(locals.user){%> 
                <li><%= user.name %></li>
                <%if(user.avatar){%>
                    <li class="circle">
                        <img src="<%= user.avatar%>" alt="<%=user.name%>">
                    </li>
                    <%}%>
                <li><a href="/users/sign-out">Sign-Out</a></li>
            <% }else{ %>
                <li><a href="/users/sign-in">Sign-In</a></li>
                <li><a href="/users/sign-up">Sign-Up</a></li>
                <% } %>
        </ul>
    </div>

</nav>
        
</header>