<!-- code is sign up -->
<link rel="stylesheet" href="/css/user-sign.css">
<div id="sign">    
    <form action="/users/create" method="POST">
        <h1>user Sign Up</h1>
            <div class="form-field">
              <i class='fas fa-user-alt bgcol'></i>
             <input type="text" name="name" placeholder="Username" required/>
            </div>
            <div class="form-field">
              <i class="fa fa-at bgcol"></i>
                 <input type="email" name="email" placeholder="Useremail" required/>
            </div>
          <div class="form-field">
            <i class='fas fa-key bgcol'></i>
                <input type="password" name="password" placeholder="Password" required/>
          </div>
          <div class="form-field">
            <i class='fas fa-key bgcol'></i>
              <input type="password" name="confirm_password" placeholder="Confirm-Password" required/>
          </div>
          
          <div class="form-field">
            <button class="btn" type="submit">Sign up</button>
          </div>
          <div class="form-field">
            <div class="google-btn">
              <a href="/users/auth/google">
                <div class="google-icon-wrapper">
                  <img class="google-icon"
                    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                </div>
                <p class="btn-text">
                  <b>Sign In/Sign Up with google</b>
                </p>
              </a>
            </div>
          </div>
    </form> 

  </div>